<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Fragmento de Navbar</title>
    </head>
    <body>
        <nav th:fragment="navbar" class="navbar">
            <ul class="navbar__ul">
                <li class="navbar__li_header">
                    <a th:href="@{/app/home}">
                        <figure>
                            <img th:src="@{/images/sad.png}" alt="Logo"
                                class="navbar__img">
                        </a>
                    </figure><h2>Taller 2</h2>
                </li>
                <li><a th:href="@{/}" class="navbar__li">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </body>
</html>
